#header {
  background-color: var(--head-back);

  .header_content {
    max-width: 1280px;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: var(--text-color);
      font-size: 24px;
      font-weight: 800;
    }

    .darkmode {
      button {
        border: none;
        background-color: var(--head-back);
        color: var(--text-color);
        font-size: 16px;
        font-weight: 600;

        i {
          color: var(--text-color);
          font-size: 16px;
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  #header {
    .header_content {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
}
@media (min-width: 375px) and (max-width:768px) {
  #header {
    .header_content {
      width: 80%;
      margin: auto;
    }
  }
}
@media (min-width: 768px) and (max-width:1024px) {
  #header {
    .header_content {
      width: 80%;
      margin: auto;
    }
  }
}

